<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>512989151132-ttrue8vbff3dpasfpn0qkk4j7vm9o0ok.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.512989151132-ttrue8vbff3dpasfpn0qkk4j7vm9o0ok</string>
	<key>API_KEY</key>
	<string>AIzaSyB_b73kH_NjcSKZJRn8cFlWDfqy7xTz4-g</string>
	<key>GCM_SENDER_ID</key>
	<string>512989151132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.misNotas</string>
	<key>PROJECT_ID</key>
	<string>ude-41474</string>
	<key>STORAGE_BUCKET</key>
	<string>ude-41474.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:512989151132:ios:4ee66e7473703a4a2bd259</string>
</dict>
</plist>