<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>804687714263-9vivu3oe9snfd655u9c2iklcgv7pr257.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804687714263-9vivu3oe9snfd655u9c2iklcgv7pr257</string>
	<key>API_KEY</key>
	<string>AIzaSyCDI1lRfpDpq7XQzLSsnPpCHGPGQ-Og1OI</string>
	<key>GCM_SENDER_ID</key>
	<string>804687714263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.unigrade</string>
	<key>PROJECT_ID</key>
	<string>ude-ca882</string>
	<key>STORAGE_BUCKET</key>
	<string>ude-ca882.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804687714263:ios:602ba4c55e9aea3bd71d92</string>
</dict>
</plist>